.hero {
	height: 600px;
	background-image: url("../../assets/images/mobile/image-header.jpg");
	background-size: cover;
	background-position: bottom;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-attachment: fixed;

	.container::after {
		content: "";
		height: 100px;
		width: 100px;
		display: block;
		background-image: url("../../assets/icons/icon-arrow-down.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		margin: auto;
		animation: arrowBounce 0.7s infinite linear;
	}

	&__title {
		width: 100%;
		text-align: center;
		font-family: $ff-fraunces;
		font-size: 3rem;
		color: $c-white;
		text-transform: uppercase;
		font-weight: $fw-black;
		margin-bottom: 2rem;
	}

	@include tablet-query {
		background-image: url("../../assets/images/desktop/image-header.jpg");

		&__title {
			font-size: 4rem;
			margin-bottom: 4rem;
			margin-top: -4rem;
		}

		&__hero .container::after {
			margin-top: 5rem;
		}
	}
}

@keyframes arrowBounce {
	from {
		transform: translateY(-25px);
	}
	to {
		transform: translateY(0);
	}
}
